<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:websocket="http://www.springframework.org/schema/websocket"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
                        http://www.springframework.org/schema/mvc 
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd 
                        http://www.springframework.org/schema/aop 
                        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
                        http://www.springframework.org/schema/tx 
                        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
                        http://www.springframework.org/schema/websocket
           				http://www.springframework.org/schema/websocket/spring-websocket-4.0.xsd">

	  
   <!-- 扫描 @Controller -->
	<context:component-scan base-package="jm">
	   <!-- <context:include-filter type="annotation" expression="ms.frameWork.socket.WebSocketConfig" /> -->
	   <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	   <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service" /> 
 	</context:component-scan>

	<!-- 处理器映射器 适配器 -->
	 <mvc:annotation-driven conversion-service="conversionService" />
	
	<!-- 定义跳转的文件的前后缀 ，视图模式配置 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 这里的配置我的理解是自动给后面action的方法return的字符串加上前缀和后缀，变成一个 可用的url地址 -->
		<property name="prefix" value="/WEB-INF/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- Converter转换器    工厂  -->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<!-- 多个转换器 -->
		<property name="converters">
			<set>
				<!-- 转换日期
				去掉前后空格 -->
				<bean class="jm.converter.CustomDateConverter"></bean>
			</set>
		</property>
	</bean> 
	<!-- 支持上传文件   -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
   		<property name="defaultEncoding" value="UTF-8" />  
   		<property name="maxUploadSize" value="10485760" />  
   		<property name="uploadTempDir" value="upload/temp" />  
	</bean>  
     
		
	<!-- <mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/login/**"/> 
			<mvc:exclude-mapping path="/jump/**"/> 
			<bean class="ms.web.controller.login.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/login/**"/> 
			<mvc:exclude-mapping path="/jump/**"/> 
			<bean class="pm.web.controller.login.interceptor.ParameterInterceptor"/>
		</mvc:interceptor>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/xcxlogin/login"/> 
			<bean class="jm.frameWork.interceptor.XcxGetSessionInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors> -->
	
	
</beans>
